<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <form action="/directory" class="submitForm" method="POST">

        <label for="title" class="submitLabel"></label>
        <input type="text" name="title" class="submitInput">


        <label for="medium" class="submitLabel"></label>
        <select name="medium" id="" class="inputSelect"></select>

        <label for="" class="submitLabel"></label>
        <select name="players" id="" class="inputSelect"></select>



        <label for="publisher" class="submitLabel"></label>
        <input type="text" name="publisher" class="submitInput" placeholder="">

        <label for="genre" class="submitLabel"></label>
        <input type="text" name="genre" class="submitInput" placeholder="">

        <label for="developer" class="submitLabel"></label>
        <input type="text" name="developer" class="submitInput" placeholder="">

        <label for="writer" class="submitLabel"></label>
        <input type="text" name="writer" class="submitInput" placeholder="">

        <label for="producer" class="submitLabel"></label>
        <input type="text" name="producer" class="submitInput" placeholder="">

        <label for="designer" class="submitLabel"></label>
        <input type="text" name="designer" class="submitInput" placeholder="">

        <label for="version" class="submitLabel"></label>
        <input type="text" name="version" class="submitInput" placeholder="">

        <label for="release" class="submitLabel"></label>
        <input type="text" name="release" class="submitInput" placeholder="">







    </form>


</body>

</html>